{% extends 'my_project/base.html' %}

{% block content %}
    {% if user.is_authenticated %}

        <h1 class="h1-main-list">NEW COMMENT</h1>
         <div class="h1-main-list">
         <form method="POST" class="post-form">{% csrf_token %}
             {{ form.as_p }}
         <button type="submit" class="save btn btn-default">SEND</button>
         </form>
         <br>
        </div>
    {% else %}
        <p class="h1-main-list" >YOU ARE NOT LOGGED IN:<br>
        <a href="{% url 'login'%}">PLEASE LOGIN TO ADD COMMENTS</a></p>

    {% endif %}
{% endblock %}