{% extends 'my_project/base.html' %}

{% block content %}
<div class="main-list">
    <h1 class="h1-main-list">MAIN LIST</h1><br>
</div>
{% for post in posts %}

<div class="post">

    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
    <p>{{ post.text|truncatewords:40|linebreaks }}</p>
    <a href="{% url 'post_detail' pk=post.pk %}">Number of accpeted comments: {{ post.approved_comments.count }}</a>
    <div class="date">
        <span class="glyphicon glyphicon-bullhorn"> </span>
        <span> PUBLISHED ON</span>
        <span>| data:</span>
        {{ post.published_date }}
        <span>| autor:</span>
        {{ post.author }}
    </div>
</div>

{% endfor %}
{% include "my_project/pagination.html" with page=posts %}
{% endblock %}